@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#p5-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure canvas covers entire width */
    height: 100%; /* Ensure canvas covers entire height */
    z-index: 1;
}
.content {
    z-index: 2;
    position: relative;
}