@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.darkModeEnabled {
        #hole{
        background-color: rgb(63, 63, 235);
        color: white;
        }

        #checkmore{
                background-color: pink;
                color: black;
        }
}
